In [95]:
#!pip3 install pandas --quiet
import json
import pandas as pd

Read Orders data into orders_data pandas dataframe

In [96]:
# example to read data from a csv file into a pandas dataframe
# order_columns = ['order_id', 'order_date', 'order_customer_id', 'order_status']

# function to get column names from a schema.json file

def get_column_names(schema_file, table_name, sorting_key='column_position'):
    column_details = schema_file[table_name]
    columns = sorted(column_details, key=lambda col: col[sorting_key])
    return [col['column_name'] for col in columns]

# Read schemas file to schema_file object
schema_file = json.load(open('data/retail_db/schemas.json'))
order_columns = get_column_names(schema_file, 'orders')
orders_data = pd.read_csv('data/retail_db/orders/part-00000', names=order_columns)
orders_data.shape

(68883, 4)

In [97]:
# example to filter data from pandas dataframe
orders_data.query('order_status == "COMPLETE"').shape

(22899, 4)

In [98]:
# example to generate a derived column and aggregate dataframe

orders_data['year_month'] = orders_data.apply(lambda orders: orders.order_date[:7], axis=1)
orders_data. \
    groupby(['year_month', 'order_status'])['order_id']. \
    agg(orders_count='count'). \
    reset_index()

# orders_data.shape

    year_month     order_status  orders_count
0      2013-07         CANCELED            22
1      2013-07           CLOSED           161
2      2013-07         COMPLETE           515
3      2013-07          ON_HOLD            81
4      2013-07   PAYMENT_REVIEW            19
..         ...              ...           ...
112    2014-07   PAYMENT_REVIEW            54
113    2014-07          PENDING           517
114    2014-07  PENDING_PAYMENT           979
115    2014-07       PROCESSING           561
116    2014-07  SUSPECTED_FRAUD           101

[117 rows x 3 columns]

Read customers data into customers_data pandas dataframe

In [99]:
customer_columns = get_column_names(schema_file, 'customers')
customers_data = pd.read_csv('data/retail_db/customers/part-00000', names=customer_columns)
customers_data.shape

(12435, 9)

Create a joined customer_orders dataframe using customers and orders dataframe

In [100]:
# set index for customers and orders dataframe
orders_data = orders_data.set_index('order_customer_id')
customers_data = customers_data.set_index('customer_id')

customer_orders = customers_data. \
                    join(orders_data, how='inner'). \
                    reset_index(names='customer_id')
                    
customer_orders.shape

(68883, 13)

In [101]:
# get sort_values in the customer_orders dataframe

customer_orders.sort_values(['customer_id', 'order_date'], ascending=[True, False], inplace=True)

# write dataframe data to a csv file

customer_orders.to_csv('customer_orders.csv', sep='|', encoding='utf-8', header=False, index=False)

# write dataframe data to a json file

customer_orders.to_json('customer_orders.json', orient='records', lines=True)

# code ends here bhuvan_0002

In [1]:
import pandas as pd
from sqlalchemy import create_engine
conn = 'postgresql://retail_user:retail@172.22.0.2:5432/retail_db'
engine = create_engine(conn)

In [2]:
query = 'select * from retail.orders limit 10'
pd.read_sql_query(query, engine)

AttributeError: 'OptionEngine' object has no attribute 'execute'